attrs==19.1.0
branca==0.3.1
certifi==2019.9.11
chardet==3.0.4
Click==7.0
click-plugins==1.1.1
cligj==0.5.0
cx-Oracle==7.2.2
dash==1.3.1
dash-core-components==1.2.1
dash-html-components==1.0.1
dash-renderer==1.1.0
dash-table==4.3.0
Fiona==1.8.6
Flask==1.1.1
Flask-Compress==1.4.0
folium==0.10.0
future==0.17.1
GDAL==3.0.1
geopandas==0.5.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
munch==2.3.2
numpy==1.17.2
pandas==0.25.1
plotly==4.1.1
pyproj==2.2.2
python-dateutil==2.8.0
pytz==2019.2
requests==2.22.0
retrying==1.3.3
Rtree==0.8.3
scipy==1.3.1
Shapely==1.6.4.post2
six==1.12.0
SQLAlchemy==1.3.8
urllib3==1.25.5
Werkzeug==0.16.0
